@model Roost.Web.Mvc.Models.RetailItemOptionsModel

@{
    var modalId = "modalFor" + Model.Upc;
}

@if (Model.ShowOptions)
{
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@modalId">Customize</button>

    <div class="modal modal-sm fade" id="@modalId" tabindex="-1">
        <div class="modal-dialog">
            <form class="retailOptionsForm" method="post" action="/Retail/AddItemToOrder">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Options</h5>
                    </div>
                    <div class="modal-body">

                        @for (var i = 0; i < Model.Options.Count(); i++)
                        {
                            <div class="option">
                                <label class="optionName">@Model.Options[i].Name</label>
                                @Html.DropDownListFor(m => m.Options[i].Value, Model.Quantities, new { @class = "optionValue form-select" })
                                @Html.HiddenFor(m => m.Options[i].Name)
                            </div>
                        }

                        <table class="w-100 mt-2 optionMetaData">
                            <tr>
                                <td class="text-start">Total</td>
                                <td class="text-end">@Model.Price.GetValueOrDefault().ToString("C")</td>
                            </tr>
                        </table>

                        @Html.HiddenFor(m => m.Upc, new { @class = "upc" })
                        @Html.HiddenFor(m => m.Quantity, new { @class = "quantity" })
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cancelButton" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add to Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <form class="retailItemForm" method="post" action="/Retail/AddItemToOrder">
        @Html.HiddenFor(m => m.Upc, new { @class = "upc" })
        @Html.HiddenFor(m => m.Quantity, new { @class = "quantity" })
        <button type="submit" class="btn btn-primary">Add to Order</button>
    </form>
}